.outline {
    padding: 2%;
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    /* align-items: center; */
}

.imagecontainer {
    min-width: 0px;
    flex: 0 1 30%;
    text-align: center;
    margin: 3%;
    margin-top: 10%;
}

.signincontainer {
    flex-grow: 1;
    flex-wrap: wrap;
    min-width: 0px;
    margin: 3%;
}

img.image {
    width: 100%;
    border-radius: 5%;
}

input[type=text], input[type=email], input[type=number], input[type=password], select, textarea {
    width: 100%;
    padding: 20px 20px;
    margin: 10px 0 30px 0;
    font-size: large;
    display: inline-block;
    border: 2px solid grey;
    background: white;
    box-sizing: border-box;
}

.error {
    flex: 0 0 100%;
    width: 100%;
    margin-top: -20px;
    float: left;
    color: red;
    display: none;
}

.noerror {
    flex: 0 0 100%;
    width: 100%;
    margin-top: -20px;
    float: left;
    color: green;
    display: none;
}

input:invalid {
    border-color: red;
    color: red;
}

input:valid, select:valid {
    border-color: green;
    color: green;
}

input:placeholder-shown {
    border-color: grey;
    color: black;
}

input:not([class=firstInGrid]):not([class=secondInGrid]):invalid + div>p:first-of-type, input[class=firstInGrid]:invalid ~ div:first-of-type>p:first-of-type {
    color: red;
    display: inline-block;
}

input:not([class=firstInGrid]):not([class=secondInGrid]):valid + div>p:nth-of-type(2), input[class=firstInGrid]:valid ~ div:first-of-type>p:nth-of-type(2), select[class=firstInGrid]:valid ~ div:first-of-type>p:nth-of-type(2) {
    color: green;
    display: inline-block;
}

input:not([class=firstInGrid]):not([class=secondInGrid]):placeholder-shown + div>p:first-of-type, input[class=firstInGrid]:placeholder-shown ~ div:first-of-type>p:first-of-type {
    display: none;
}

input[class=secondInGrid]:invalid ~ div:nth-of-type(2)>p:first-of-type {
    color: red;
    display: inline-block;
}

input[class=secondInGrid]:valid ~ div:nth-of-type(2)>p:nth-of-type(2), select[class=secondInGrid]:valid ~ div:nth-of-type(2)>p:nth-of-type(2) {
    color: green;
    display: inline-block;
}

input[class=secondInGrid]:placeholder-shown ~ div:nth-of-type(2)>p:first-of-type {
    display: none;
}

label {
    font-size: x-large;
    display: inline-block;
}

.buttoncontainer {
    display: flex;
    width: 100%;
    justify-content: center;
    text-decoration: none;
}

button {
    font-size: larger;
    background-color: goldenrod;
    color: white;
    padding: 18px 18px;
    margin: 10px 0;
    border: 0px;
    cursor: pointer;
    width: 100%;            
}

button:hover {
    transform: scale(110%);
    transition: all 200ms ease-in-out 0s;
}

hr.divider {
    display: flex;
    justify-self: center;
    justify-content: center;

    border-top: 3px solid grey;
    width: 95%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.registerbutton {
    background-color: cornflowerblue;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}
.grid2 { grid-template-columns: auto 16%; }
.grid3, .grid4 { grid-template-columns: 20% auto; }